
.header {
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)) ,url(../assets/images/main-bcg.jpeg) center/cover no-repeat fixed;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;

    .banner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;

        h2{
            font-family: var(--ff-secondary);
            color: var(--color-primary);
        }

        h1 {
            font-family: var(--ff-primary);
            text-transform: uppercase;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 3.2rem;
        }

        &-btn {
            outline: 2px solid var(--color-primary);
            outline-offset: 4px;
        }
    }
}

